{% include 'block.html' %} {% block subcontent %}

<style>
    .btn-login {
        border-radius: 10rem;
    }

    .form-outer {
        width: 50% !important;
    }

    .gradient-card {
        height: 95vh;
    }

    /* configurations for small screen */
    @media (max-width: 768px) {
        .gradient-card {
            height: 90vh;
        }

        .left {
            display: none;
        }

        .right {
            height: 100vh;
        }

        .form-outer {
            width: 80% !important;
        }
    }
</style>

<div class="row justify-content-between align-items-center" style="min-height: 90vh;">
    <div class="left col-lg-4 col-sm-12">
        <img src="{{url_for('static', filename='img/login.svg')}}" alt="">
    </div>
    <div class="right col-lg-6 col-sm-12 gradient-card d-flex flex-column justify-content-center align-items-center">
        <div>
            <img src="{{url_for('static', filename='img/logo.svg')}}" alt="">
        </div>
        <div class="heading d-flex flex-row justify-content-between">
            <p class="fs-2 fw-bold">Login</p>
        </div>
        <form class="form-outer" action="/login" method="post" id="login">
            <div class="form-group my-4">
                <label class="fw-bold" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group my-4">
                <label class="fw-bold" for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone"
                    placeholder="Enter your phone number with +91">
            </div>
            <button type="submit" class="btn btn-primary btn-login w-100 mt-2">Login</button>
        </form>
        <p class="fw-italic mt-5">By continuing, you agree to <span class="text-primary">Terms of use</span> and <span
                class="text-primary">Privacy Policy.</span></p>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("login").addEventListener("submit", () => {
            localStorage.setItem("phone", document.getElementById("phone").value)
        })
    })
</script>
{% endblock %}